.main-menu {
    all: unset;
    text-align: center;
}

#nav-menu-container {
    margin: 0 auto;
}

.nav-menu a {
    color: white;
    font-size: 2em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#header {
    position: absolute;
}

.icons {

}

h6.text-uppercase {
    color: black;
}

.footer-area {
    background: white;
}

.fb-icon {
    font-size: 2.5em;
}

.mobile-only {
    display: none;
}

.section-gap {
    padding: 20px !important;
}

.pipe {
    color: white;
    font-weight: 900;
    font-size: 15px;
}
@media only screen and (max-width: 768px) {
    .banner-area {
        background-size: contain;
        background-color: #f9f9ff;
        background-repeat: no-repeat;
    }

    .banner-area .overlay-bg {
        background: unset;
    }

    .mobile-only {
        display: block;
    }

    .mobile-number {
        color: #777;
        text-decoration: underline;
    }

    .mobile-header {
        font-size:15px;
    }

    .section-gap {
        padding: 20px 0 !important;
    }
}
